<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Log In</title
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<h1>Log In Form</h1>
	<form method = 'POST' action = '/loginres'>
		Name:<br>
		<input type = 'text' name = 'Email'><br>
		<input type = 'text' name = 'Password'><br>
		<input type = 'submit' value = 'Log In' name = 'Login'> 
		<input type = 'submit' value = 'Register' name = 'Register'>
	</form>
<% include partials/footer %>
