<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration</title>
</head>
<body>
    <h1>Registration Page</h1>
    <p id = 'error'></p>
    <form method = 'POST' action = '/users/register'>
        Please fill out all the fields below<br>
        <br>
        Name<input type = 'text' name = 'Name'><br>
        Email<input id = 'Email' type = 'text' name = 'Email'><br>
        Confirm Email<input id='conEmail' type = 'text' name = 'conEmail'><br>
        Phone<input type = 'text' name = 'Number'><br>
        Password<input id = 'Password' type = 'password' name = 'Password'><br>
        Confirm Password<input id = 'conPass'  type = 'password' name = 'conPass'><br>
        Submit<input type = 'submit' name = 'Submit' id ='Submit'>
        <script>
            document.getElementById('Submit').addEventListener("click", () => {
                console.log(document.getElementById('Password').value);
                //event.preventDefault();
            });
        </script>
    </form>
</body>
</html>