<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>AutoPark</title>

    <!-- Bootstrap core CSS -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../public/css/starter-template.css" rel="stylesheet">

  </head>

<body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/users/home">Auto Park</a>
                  </div>
                  <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                      <li class="active"><a href="/users/home">Welcome</a></li>
                      <li><a href="/users/loginpage">Login</a></li>
                      <li><a href="/users/registerpage">Register</a></li>
                      <li><a href="/users/map">Parking Map</a></li>
                      <li><a href="/users/about">About</a></li>
                    </ul>
                  </div><!--/.nav-collapse -->
                </div>
              </nav>
              <div class="container">

                    <div class="starter-template">
                      <h1>About Us</h1>
                      <p>The majority of modern parking garages have inherent flaws that cause them to be inefficient. A recent study indicates that drivers spend an average of 17 hours per year 
                      looking for parking and approximately $97 per driver1. This situation is only exacerbated during peak hours, when a high influx of cars causes 
                      congestion in parking garages, resulting in more time and money wasted on looking for parking. Many drivers are also unsatisfied with the flat rate pricing system,
                       where they are charged a fixed hourly rate regardless of the time of day. Additionally, a majority of parking garages do not have a system that lets their customer 
                       keeps track of how long their car has been parked for and how much they will have to pay when they leave. Along with this, parking garages also lack a security system 
                       that helps ensure the safety of the customers’ cars. In metropolitan cities, parking garages are often located in unsafe areas, where anyone can enter and leave the garage regardless of
                        whether they are a paying customer of not. </p>

                        <p>Our goal is to provide a parking garage system which will completely eliminate the need for 
                          employees or attendants.Parking garage managers will have access to their websites as administrators and be able to override pricing
                          options,view/edit reservations, and control which spots are usable for ad-hoc parking</p>
                        Along with customizability for garage managers, we also provide many useful features for customers, 
                        including the ability to view and reserve spots on the go.
                    <!--<form>
                          <div class="form-group">
                            <label for="exampleInputEmail1">Username</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your information with anyone else.</small>
                          </div>
                          <div id="browse_app">
                                  <a class="btn btn-large btn-info" href="../accountmainpage">Submit</a>
                          </div>
                        </form>-->
                    </div>
              
                  </div><!-- /.container -->
              
              
              
                  <!-- Bootstrap core JavaScript
                  ================================================== -->
                  <!-- Placed at the end of the document so the pages load faster -->
                  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
                  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
                  <script src="../public/js/bootstrap.min.js"></script>
    
</body>
</html>
