<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reservation Page</title>
</head>
<body>
    <h1>Reservation Page</h1>
    <form method = 'POST' action = '/reservation/create'>
        <h2>Place new reservation:</h2>
        Reservation Start Date:<br>
        <input name="datefield" type='datetime-local'></input><br><br>

        Parking Spot Number:<br>
        <input name=spotID type = 'text' ></input><br>
        <!-- ill finish this later -->
        <input type = 'submit' value = 'Create Reservation' name = 'makeRes'>
    </form>
    
</body>
</html>
